/* ********************************************
RMIT School of Computer Science and Information Technology 
CPT 375 Web Database Applications SP2 2015 		
ASSIGNMENT 1	 
Alexandra Margaret Rodley s3372356

winestore.css
********************************************* */

/* contains some additional custom styles over bootstrap */

/* typography */

h1 {
	text-align: center;
	color:#000;
	font-size: 72px;
	font-family: 'Lobster', cursive;
}
.error {
	color:#8B0000;
	font-size: 18px;
}

/* page layout adjustments */

header {
	margin: 20px 0 10px 0;
}
form {
	margin-top:20px;
}
label {
	text-align: right;
}
div.sr {
	margin-bottom: 10px;
}
.centre-panel {
	height:100%;
	background-color: white;
}
.container, body, html {
	height:100%;
}
.error-report {
	padding:10px;
}
.caption, .totop, .error-report {
	padding:0 5px 0 5px;
	font-size:16px;
	line-height: 1;
	color:#666;
}
.error-report {
	padding-left:20px;
}

/* search form buttons */

button, a.button {
	margin-top:40px;
}
button#show-wine {
	background:#222;
	background-color: #222;
	color:#fff;
}
button#show-wine:hover {
	background:#222;
}
button#show-wine:focus {
	background:#222;
	background-color: #222;
}
button#show-wine:active, button#show-wine.active {
	background-color: #222;
	background:#222;
}

/* links */

.ws-link, .ws-link:link {
	text-decoration: underline;
	color:#666;
	font-size:16px;
}
.ws-link.right{
	float:right;
}

.ws-link:hover {
	color:#000;
}
.ws-link:visited {
	color:#666;
}
.ws-link:active {
	color:#000;
}

/* table styles */

td, th {
	border:1px solid #fff;
	padding: 0.7rem;
	text-align: left;
}
thead tr th{
	color: #fff;
	background-color: #000;
	font-weight:normal;
	height:70px;
}
tbody tr {
	background-color: #dfdfdf;
	color: #333;
}
tbody tr:nth-child(even) {
	background-color: #efeff0;
}






