/* ********************************************
RMIT School of Computer Science and Information Technology 
CPT 375 Web Database Applications SP2 2015 		
ASSIGNMENT 1	 
Alexandra Margaret Rodley s3372356

winestore.css
********************************************* */

/* contains some additional custom styles over bootstrap */

/* typography */

h1 {
	text-align: center;
	color:#000;
}
h1 span.fancy {
	font-size: 2em;
	font-family: 'Lobster', cursive;
}
.error {
	color:#8B0000;
	font-size: 18px;
}

/* page layout adjustments */

header {
	margin: 2em 0;
}
header.sr-header {
	margin: 2em 0 0 0;
}
label {
	text-align: right;
}
div.sr {
	margin-bottom: 0.5em;
}
.centre-panel {
	height:100%;
	background-color: white;
}
.container, body, html {
	height:100%;
}
.error-report {
	padding:10px;
}

/* search form buttons */

button {
	margin-top:2em;
}
button#show-wine {
	background:#222;
	background-color: #222;
	color:#fff;
}
button#show-wine:hover {
	background:#222;
}
button#show-wine:focus {
	background:#222;
	background-color: #222;
}
button#show-wine:active, button#show-wine.active {
	background-color: #222;
	background:#222;
}

/* table captions */

caption, .toplink {
	padding:0 5px 10px 5px;
	font-size:16px;
	line-height: 1;
	color:#666;
}
a, a:link {
	text-decoration: underline;
	color:#666;
	font-size:16px;
}
caption a, a.toplink {
	float:right;
}

a:hover, caption a:hover, a.toplink:hover {
	color:#000;
}
a:visited, caption a:visited, a.toplink:visited {
	color:#666;
}
a:active, caption a:active, a.toplink:active {
	color:#000;
}

/* table styles */

td, th {
	border:1px solid #fff;
	padding: 0.7rem;
	text-align: left;
}
thead tr th{
	color: #fff;
	background-color: #000;
	font-weight:normal;
	height:70px;
}
tbody tr {
	background-color: #dfdfdf;
	color: #333;
}
tbody tr:nth-child(even) {
	background-color: #efeff0;
}






